.banner-home {
    position: relative;
    margin: 23px 100px 0 100px;
    border-radius: 25px;
}

.banner-image-home {
    position: absolute;
    background-image: url('../assets/banner-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: black;
    filter : brightness(60%);
    z-index: -1;
    border-radius: 25px;
}

.catch-phrase-home {
    text-align: center;
    margin: 0;
    padding: 78px 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: white;
}

.banner-about {
    margin: 3px 100px 0 100px;
    border-radius: 25px;
    height: 223px;
    background-image: url(../assets/landscape.jpg);
    background-size: cover;
    background-position: center;
    filter : brightness(60%);
}

@media screen and (max-width: 375px) {
    .banner-home {
        margin: 11px 20px 0px 20px;
        border-radius: 10px;
    }

    .banner-image-home {
        border-radius: 10px;
    }

    .catch-phrase-home {
        text-align: left;
        padding: 31px 102px 32px 16px;
        font-size: 24px;
        line-height: 100%;
    }

    .banner-about {
        margin: 3px 19px 19px 19px;
        border-radius: 10px;
        height: 223px;
    }
}
