.collapse {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.collapse-housing {
    min-width: 46%;
    margin-bottom: unset;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 10px 18px 10px 15px;
}

.collapse-header-housing {
    border-radius: 10px;
    padding: 10px 24px 10px 10px;
}

.collapse-title {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin: 0;
}

.collapse-title-housing {
    font-size: 18px;
    align-items: center;
}

.collapse-vector {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rotate180 {
    transform: rotate(-180deg);
    transition: transform 0.4s;
}

.rotate0 {
    transform: rotate(0deg);
    transition: transform 0.4s;
}

.fa-solid {
    color: white;
    font-size: 24px;
    margin: 0;
}

.collapse-content {
    background-color: #F7F7F7;
    border-radius: 10px 10px 5px 5px;
}

.collapse-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

.equipments-list {
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    padding: 0;
    margin: 0;
    overflow: auto;
}

@media screen and (max-width: 375px) {
    .collapse {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .collapse-housing {
        min-width: unset;
        margin-bottom: unset;
    }

    .collapse-header {
        padding: 10px 11px 10px 10px;
    }

    .collapse-header-housing {
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
    }

    .collapse-title {
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 142.6%;
        margin: 0;
    }

    .fa-solid {
        color: white;
        font-size: 16px;
        margin: 0;
    }

    .collapse-content-housing {
        border-radius: 5px;    
    }

    .collapse-text {
        font-weight: 400;
        font-size: 12px;
        padding: 13px 20px 20px 20px;
    }

    .equipments-list {
        font-weight: 400;
        font-size: 12px;
        padding: 0;
    }
}