.collapse {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 10px 18px 10px 15px;
}

.collapse-title {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin: 0;
}

.collapse-vector {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-solid {
    color: white;
    font-size: 24px;
    margin: 0;
}

.collapse-content {
    background-color: #F7F7F7;
    border-radius: 10px 10px 5px 5px;
}

.collapse-text {
    color: #FF6060;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

@media screen and (max-width: 375px) {
    .collapse {
        margin-bottom: 20px;
    }

    .collapse-header {
        padding: 10px 11px 10px 10px;
    }

    .collapse-title {
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 142.6%;
        margin: 0;
    }

    .fa-solid {
        color: white;
        font-size: 13px;
        margin: 0;
    }

    .collapse-text {
        font-size: 13px;
    }
}