.error-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    margin: 0 0 9% 0;
}

.error-main {
    text-align: center;
    margin-bottom: 7%;
}

.error-404 {
    margin-top: 0;
    margin-bottom: 1%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
}

.error-message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}

.error-back {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration-line: underline;
    cursor: pointer;
}

@media screen and (max-width: 710px) {
    .error-404 {
        font-size: 150px;
    }

    .error-message {
        font-size: 25px;
    }

    .error-back {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .error-global {
        margin: 15% 0 22% 0;
    }

    .error-main {
        text-align: center;
        margin-bottom: 19%;
    }

    .error-404 {
        margin-top: 0;
        margin-bottom: 15%;
        font-size: 96px;
    }

    .error-message {
        font-size: 18px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        padding: 0 37.5px;
    }

    .error-back {
        font-size: 14px;
    }
}