.footer-global {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin: 66px 0;
}

.footer-copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin-bottom: 29px;
}

@media screen and (max-width: 768px) {
    .footer-logo {
        margin: 66px 0px 15px 0px;
        height: 36px;
        width: 122px;
    }

    .footer-copyright {
        font-size: 12px;
        margin-bottom: 58px;
        width: 133px;
        text-align: center;
    }
}