.cards-wrapper {
  margin: 43px 100px 50px 100px;
  padding: 56px 40px 43px 40px;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3%;
  row-gap: 50px;
}

@media screen and (max-width: 375px) {
  .cards-wrapper {
    margin: 22px 20px 27px 20px;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}