.cards-wrapper {
  margin: 43px 100px 50px 100px;
  padding: 56px 50px 43px 50px;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}