.housing-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.housing-datas {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.housing-titles-tags {
    display: flex;
    flex-direction: column;
}

.housing-title {
    margin: 6px 0 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.housing-location {
    margin: 0 0 20px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.housing-host-stars {
    display: flex;
    flex-direction: column;
}

.host-box {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.host-name {
    display: flex;
    text-align: right;
    align-items: center;
    width: 93px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.host-pic {
    border-radius: 100%;
    object-fit: cover;
}

.collapses-housing {
    display: flex;
    justify-content: space-between;
    gap: 8%;
    margin-bottom: 50px;
}

.housing-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    margin: 0;
    overflow: auto;
}

@media screen and (max-width: 375px) {
    .housing-wrapper {
        margin-top: 10px;
    }

    .housing-datas {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 0%;
    }

    .housing-title {
        margin: 0 0 5px 0;
        font-size: 18px;
    }

    .housing-location {
        margin: 0 0 10px 0;
        font-weight: 500;
        font-size: 14px;
    }

    .housing-host-stars {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13.5px;
    }

    .host-box {
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        gap: 8%;
    }

    .host-name {
        justify-content: end;
        width: 60px;
        font-size: 12px;
    }

    .host-pic {
        height: 32px;
        width: 32px;
    }

    .collapses-housing {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 27px;
    }

    .housing-description {
        font-weight: 400;
        font-size: 12px;
    }
}