.landscape {
    margin: 3px 100px 0 100px;
    border-radius: 25px;
    height: 223px;
    background-image: url(../assets/landscape.jpg);
    background-size: cover;
    background-position: center;
    filter : brightness(60%);
}

@media screen and (max-width: 768px) {
    .landscape {
        margin: 3px 19px 19px 19px;
        border-radius: 10px;
        height: 223px;
    }
}