.starbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 27px;
}

.fa-solid {
    font-size: 24px;
    margin-left: 15px;
}

@media screen and (max-width: 710px) {
    .fa-solid {
        font-size: 20px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 375px) {
    .starbox {
        width: 50%;
        justify-content: flex-start;
        margin-top: 0px;
        gap: 3%;
    }
    
    .fa-solid {
        font-size: 13px;
        margin: 0;
    }
}