.tags-list {
    margin: 0 0 14px 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 2%;
}

.tag {
    background: #FF6060;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    color: white;
    padding: 3px 7%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .tags-list {
        margin: 0 0 8.5px 0;
        gap: 3%;
    }

    .tag {
        border-radius: 5px;
        font-size: 10px;
        padding: 2px 8%;
        margin-bottom: 8px;
    }  
}